@using School_Project.Models;

<div class="row">
 <h1 class="display-2">Students</h1>
 <table class="table">
 <thead class="thead-inverse">
 </thead>
 <tbody>
		@{
			foreach(User user in ViewBag.Students)
			{
				<p><a href="https://www.gegham.com/">@user.FirstName @user.LastName @user.Username</a></p>

			}
		}
 </tbody>
 </table>
</div>