
@using School_Project.Models
@model School_Project.Models.Grade []

@{
    ViewData["Title"] = "Marks";
}


 <section class="d-flex pt-80 justify-content-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
            <h1>Marks</h1>

    <div class="overflow-auto">
<table class="table table-hover ">
    <thead>
        <tr>
            <th>
                Lesson
            </th>

            @for(int i = 1; i < ViewBag.DaysInMonth+1; i++)
            {
            <th class="t-a-c min-width-48px">
                @i
            </th>
            }

        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Mathematics
            </th>
                                                
                        @{
                            Grade[] grades = @Model; 
                        }
                        @for(int j = 1; j < ViewBag.DaysInMonth+1; j++)
                        {
                                @if(!Array.Exists( grades, element => element.Day.Day == j && element.Title == "MathematicsHour"))
                                {
                                    <td class="t-a-c">
                                        -
                                    </td>

                                } 
                                else
                                {
                                     Grade grade = grades[Array.FindIndex(grades, val => val.Day.Day == j && val.Title == "MathematicsHour")];
                                    <td class="t-a-c">
                                        @grade.Grade1
                                    </td>
                                }
                        }
        </tr>
        <tr>
            <th>
                Physics
            </th>
                        @for(int j = 1; j < ViewBag.DaysInMonth+1; j++)
                        {
                                @if(!Array.Exists( grades, element => element.Day.Day == j && element.Title == "PhysicsHour"))
                                {
                                    <td class="t-a-c">
                                        -
                                    </td>

                                } 
                                else
                                {
                                     Grade grade = grades[Array.FindIndex(grades, val => val.Day.Day == j && val.Title == "PhysicsHour")];
                                    <td class="t-a-c">
                                        @grade.Grade1
                                    </td>
                                }
                        }
        </tr>
        <tr>
            <th>
                Chemistry
            </th>
                        @for(int j = 1; j < ViewBag.DaysInMonth+1; j++)
                        {
                                @if(!Array.Exists( grades, element => element.Day.Day == j && element.Title == "ChemistryHour"))
                                {
                                    <td class="t-a-c">
                                        -
                                    </td>

                                } 
                                else
                                {
                                     Grade grade = grades[Array.FindIndex(grades, val => val.Day.Day == j && val.Title == "ChemistryHour")];
                                    <td class="t-a-c">
                                        @grade.Grade1
                                    </td>
                                }
                        }
        </tr>

    </tbody>
</table>
</div>
</div>
</div>
</section>