<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/School_Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<nav class="main-header navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container-fluid mr-2p justify-content-lg-start">
            @if (User.Identity.IsAuthenticated)
            {
                <button type="button" class="btn sidebarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            }

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SchoolNet</a>
       
        <div class="ml-auto">
            <ul class="navbar-nav flex-row d-flex">

                @if(!User.Identity.IsAuthenticated) {
                    <li class="nav-item p-1 m-1">
                        <a class="nav-link p-0 text-dark" asp-area="" asp-controller="Auth" asp-action="LogIn">LogIn</a>
                    </li>
                    <li class="nav-item p-1 m-1">
                        <a class="nav-link p-0 text-dark" asp-area="" asp-controller="Auth" asp-action="SignUp">SignUp</a>
                    </li>
                }else
                {
                    <li class="nav-item p-1 m-1">
                        <a class="nav-link p-0 text-dark" asp-area="" asp-controller="Auth" asp-action="LogOut">Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

        <section class="main">
        @if (User.Identity.IsAuthenticated)
        {
            <header class="header closed-mob">
                <!-- Sidebar -->
                <nav>
            

                    <ul class="list-unstyled components">
                        <li class="nav-item">
                            <a class="nav-link align-middle text-light" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 ">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-light" asp-area="" asp-controller="User" asp-action="Profile">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 ">Profile</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Principal"))
                        {
                            <li class="nav-item">
                                <a class="nav-link align-middle text-light" asp-area="" asp-controller="Class" asp-action="AllClasses">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 ">Classes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle text-light" asp-area="" asp-controller="Teacher" asp-action="AllTeachers">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 ">Teachers</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link align-middle text-light" asp-area="" asp-controller="Schedule" asp-action="WeekTimetable">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 ">Timetable</span>
                                </a>
                            </li>
                        }

                        @if (ViewContext.RouteData.Values.Where(v => v.Key == "action").FirstOrDefault().Value.ToString() == "Profile" && !User.IsInRole("Principal"))
                        {
                            <li class="nav-item">
                                <a class="btn btn btn-danger teacherModalButton edit position-absolute bottom-3" data-toggle="modal">Delete Account</a>

                            </li>
                        }


                    </ul>
                </nav>



            </header>

            }
            <main class="main" role="main">
                @RenderBody()
            </main>
         </section>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>