@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row text-center">
        <div class="img-with-text">
            <h1 class="display-4 mb-0">Welcome dear @ViewBag.User.FirstName</h1>

            <img class="img-custom img-fluid" src="https://img.freepik.com/free-vector/end-school-concept-illustration_114360-9855.jpg?w=740&t=st=1661517006~exp=1661517606~hmac=5c84f25ee9005ec956f4d3c5adc0b28b0ffea7f86c96377f8a95f331e5ddda54">
        </div>

    </div>
</div>
