html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-family: Verdana;
}

main {
    display: flex;
}

header {
    width: 25%;
    max-width: 200px;
    flex: 0 0 25%;
}

section {
    width: 100%;
}
.nav {

    display: block;
}
.nav .nav-item {
    padding: 10px;
    color: red;
}
.text-center {
    text-align:center;
    display: block;
}


.without-underscore-link {
    text-decoration: none;
    font-family: Lucida Sans;
}

.pb-3 {
    display: block;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
